.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
